.slider-item {
  max-width: 800px;

  @media all and (max-width: 768px) {
    max-width: 500px;
  }
  @media all and (max-width: 425px) {
    max-width: 350px;
  }
  @media all and (max-width: 375px) {
    max-width: 300px;
  }
}
.sliders {
  text-align: center;
  font-size: 18px;
  padding: 10px;
  background-color: #ede9fa;
  //   color: white;
  //   background-image: url("../imgs/bg2.png");
  //   background-repeat: no-repeat;
  //   opacity: 0.5;
  //   background-size: cover;

  @media all and (max-width: 768px) {
    max-width: 768px;
  }
  @media all and (max-width: 425px) {
    max-width: 425px;
  }
  @media all and (max-width: 375px) {
    max-width: 375px;
  }
  @media all and (max-width: 325px) {
    max-width: 325px;
  }
}
