.about {
  display: grid;
  grid-template-columns: 1fr 500px;
  padding: 20px 40px;
  @media all and (max-width: 700px) {
    grid-template-columns: 1fr;
    padding: 5px;
  }
}
h2 {
  font-weight: bold;
  font-size: 50px;
  @media all and (max-width: 768px) {
    font-size: 30px;
  }
  @media all and (max-width: 425px) {
    font-size: 25px;
  }
}

.about-text {
  font-size: 18px;
  font-weight: bold;
}
