body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f7f7f7; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card-title {
  display: flex;
  font-weight: bold !important;
  font-size: 25px !important;
  color: red;
  justify-content: center;
}
.oneProd-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

h3 {
  display: grid;
  justify-content: center;
}
h4 {
  font-weight: bold;
  color: rgb(15, 156, 244);
}
