.benefits {
  padding: 20px;
  padding-top: 40px;
  display: grid;
  font-weight: bold;
  justify-content: center;
  grid-template-columns: 500px 1fr;
  background-color: white;
  @media all and (max-width: 920px) {
    grid-template-columns: 1fr;
  }
}
.benefits-details {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  @media all and (max-width: 420px) {
    grid-template-columns: 1fr;
  }
  .benefit-item {
    border: 2px solid gray;
    border-radius: 10px;
  }
}
.b-title {
  font-weight: bold;
  h2 {
    display: grid;
    justify-content: center;
  }
}
.benefit-item:hover {
  background: rgb(222, 243, 255);
}
.benefit-title {
  margin-top: 30px !important;
  display: grid;
  justify-content: center;
}
